<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="APP_NAME" value="${spring.application.name:-employee}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="software.amazon.awssdk" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>

